{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "API documentation extracted from https://docs.bey.dev/sitemap.xml",
    "version": "1.0.0",
    "contact": {
      "url": "https://docs.bey.dev/"
    }
  },
  "servers": [
    {
      "url": "https://api.bey.dev",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/avatar": {
      "get": {
        "operationId": "get_v1_avatar",
        "tags": [
          "avatar"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AvatarResponseModel"
                      }
                    ]
                  },
                  "title": "Response List Avatars V1 Avatar Get"
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "01234567-89ab-cdef-0123-456789abcdef",
                        "name": "John Doe"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/session": {
      "post": {
        "operationId": "post_v1_session",
        "tags": [
          "session"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Id",
                          "description": "The unique identifier (ID) of the session.",
                          "examples": [
                            "01234567-89ab-cdef-0123-456789abcdef"
                          ]
                        }
                      ]
                    },
                    "created_at": {
                      "allOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "title": "Created At",
                          "description": "The timestamp of when the session was created.",
                          "examples": [
                            "2022-01-01T00:00:00Z"
                          ]
                        }
                      ]
                    },
                    "avatar_id": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Avatar Id",
                          "description": "The ID of the avatar used in the session.",
                          "examples": [
                            "01234567-89ab-cdef-0123-456789abcdef"
                          ]
                        }
                      ]
                    },
                    "livekit_url": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Livekit Url",
                          "description": "The LiveKit URL you chose when creating your LiveKit project.",
                          "examples": [
                            "wss://<your-domain>.livekit.cloud"
                          ]
                        }
                      ]
                    },
                    "livekit_token": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Livekit Token",
                          "description": "The LiveKit token used to join your LiveKit room.",
                          "examples": [
                            "<your-livekit-token>"
                          ]
                        }
                      ]
                    }
                  },
                  "title": "SessionResponseModel",
                  "description": "Represents a Beyond Presence Real-Time API session.",
                  "refIdentifier": "#/components/schemas/SessionResponseModel",
                  "requiredProperties": [
                    "id",
                    "created_at",
                    "avatar_id",
                    "livekit_url",
                    "livekit_token"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "01234567-89ab-cdef-0123-456789abcdef",
                      "created_at": "2022-01-01T00:00:00Z",
                      "avatar_id": "01234567-89ab-cdef-0123-456789abcdef",
                      "livekit_url": "wss://<your-domain>.livekit.cloud",
                      "livekit_token": "<your-livekit-token>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/ValidationError"
                          },
                          "type": "array",
                          "title": "Detail"
                        }
                      ]
                    }
                  },
                  "title": "HTTPValidationError",
                  "refIdentifier": "#/components/schemas/HTTPValidationError"
                },
                "examples": {
                  "example": {
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "<string>"
                          ],
                          "msg": "<string>",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_v1_session",
        "tags": [
          "session"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SessionResponseModel"
                      }
                    ]
                  },
                  "title": "Response List Session V1 Session Get"
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": "01234567-89ab-cdef-0123-456789abcdef",
                        "created_at": "2022-01-01T00:00:00Z",
                        "avatar_id": "01234567-89ab-cdef-0123-456789abcdef",
                        "livekit_url": "wss://<your-domain>.livekit.cloud",
                        "livekit_token": "<your-livekit-token>"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/session/{id}": {
      "get": {
        "operationId": "get_v1_session_{id}",
        "tags": [
          "session"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Id",
                          "description": "The unique identifier (ID) of the session.",
                          "examples": [
                            "01234567-89ab-cdef-0123-456789abcdef"
                          ]
                        }
                      ]
                    },
                    "created_at": {
                      "allOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "title": "Created At",
                          "description": "The timestamp of when the session was created.",
                          "examples": [
                            "2022-01-01T00:00:00Z"
                          ]
                        }
                      ]
                    },
                    "avatar_id": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Avatar Id",
                          "description": "The ID of the avatar used in the session.",
                          "examples": [
                            "01234567-89ab-cdef-0123-456789abcdef"
                          ]
                        }
                      ]
                    },
                    "livekit_url": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Livekit Url",
                          "description": "The LiveKit URL you chose when creating your LiveKit project.",
                          "examples": [
                            "wss://<your-domain>.livekit.cloud"
                          ]
                        }
                      ]
                    },
                    "livekit_token": {
                      "allOf": [
                        {
                          "type": "string",
                          "title": "Livekit Token",
                          "description": "The LiveKit token used to join your LiveKit room.",
                          "examples": [
                            "<your-livekit-token>"
                          ]
                        }
                      ]
                    }
                  },
                  "title": "SessionResponseModel",
                  "description": "Represents a Beyond Presence Real-Time API session.",
                  "refIdentifier": "#/components/schemas/SessionResponseModel",
                  "requiredProperties": [
                    "id",
                    "created_at",
                    "avatar_id",
                    "livekit_url",
                    "livekit_token"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "id": "01234567-89ab-cdef-0123-456789abcdef",
                      "created_at": "2022-01-01T00:00:00Z",
                      "avatar_id": "01234567-89ab-cdef-0123-456789abcdef",
                      "livekit_url": "wss://<your-domain>.livekit.cloud",
                      "livekit_token": "<your-livekit-token>"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/ValidationError"
                          },
                          "type": "array",
                          "title": "Detail"
                        }
                      ]
                    }
                  },
                  "title": "HTTPValidationError",
                  "refIdentifier": "#/components/schemas/HTTPValidationError"
                },
                "examples": {
                  "example": {
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "<string>"
                          ],
                          "msg": "<string>",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AvatarResponseModel": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier (ID) of the avatar.",
            "examples": [
              "01234567-89ab-cdef-0123-456789abcdef"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the avatar.",
            "examples": [
              "John Doe"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "AvatarResponseModel",
        "description": "Represents a Beyond Presence Avatar."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "SessionResponseModel": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier (ID) of the session.",
            "examples": [
              "01234567-89ab-cdef-0123-456789abcdef"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "The timestamp of when the session was created.",
            "examples": [
              "2022-01-01T00:00:00Z"
            ]
          },
          "avatar_id": {
            "type": "string",
            "title": "Avatar Id",
            "description": "The ID of the avatar used in the session.",
            "examples": [
              "01234567-89ab-cdef-0123-456789abcdef"
            ]
          },
          "livekit_url": {
            "type": "string",
            "title": "Livekit Url",
            "description": "The LiveKit URL you chose when creating your LiveKit project.",
            "examples": [
              "wss://<your-domain>.livekit.cloud"
            ]
          },
          "livekit_token": {
            "type": "string",
            "title": "Livekit Token",
            "description": "The LiveKit token used to join your LiveKit room.",
            "examples": [
              "<your-livekit-token>"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "avatar_id",
          "livekit_url",
          "livekit_token"
        ],
        "title": "SessionResponseModel",
        "description": "Represents a Beyond Presence Real-Time API session."
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API Key for authentication"
      }
    }
  }
}